:root{
    --theme:#090c1e;
    --theme-color: #040415;
}
/* @media only screen and (max-width: 768px) {
    .ico{
        margin-left: 10rem;
         margin-top: 2rem;
    }
    .head{
        height: 5rem;
    }
    } */
body{
    background: var(--theme);
    width: 50rem;
    height: 90vh;

}
.head{
    background-color: var(--theme-color);
    width: 65rem;
    height: 3rem;
    margin-top: 15rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    /* z-index: 1; */
   
}
#nva{
    padding-left: 2rem;
}
.ico{
    display: flex;
    color: #AAB3D9;
    align-items: center;
   
}
.pm{
    padding-top: 0.5rem;
    padding-left: 3rem;
}
.da{
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.pis{
    padding-left: 45rem;
    padding-top: 0.5rem;
}